<header class="header">
  <div class="header-wrapper">
    <div class="section-gap">
      <div class="header-row">

        <!-- Título à esquerda -->
        <h1 class="blog-title">
          <a class="blog-link" href="/">{{ site_setup.title }} <i class="fa-solid fa-code"></i></a>
        </h1>

        <!-- Menu + busca à direita -->
        <div class="header-right">
          {% if site_setup.show_menu %}
            <nav class="menu">
              <ul class="menu-items">
                {% for link in site_setup.menulink_set.all %}
                  <li class="menu-item">
                    {% if link.new_tab %}
                      <a target="_blank" class="menu-link" href="{{ link.url_or_path }}">{{ link.text }}</a>
                    {% else %}
                      <a class="menu-link" href="{{ link.url_or_path }}">{{ link.text }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}

          {% if site_setup.show_search %}
            <div class="search">
              <form class="search-form" action="{% url "blog:search" %}" method="get">
                <div class="search-content">
                  <label class="sr-only" id="search-label" for="search-input">Search</label>
                  <input
                    class="search-input"
                    type="search"
                    name="search"
                    id="search-input"
                    placeholder="Pesquisar"
                    value="{{ search_value }}"
                  >
                  <button class="search-btn" type="submit" aria-labelledby="search-label">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          {% endif %}
          <span class="socials">
            <a class="socials-link" href="https://github.com/vinisik" target="_blank">
              <i class="fa-brands fa-square-github"></i>
            </a>

            <a class="socials-link" href="https://www.instagram.com/vinisiq.exe">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          </span>
        </div> <!-- /header-right -->

      </div> <!-- /header-row -->
      {% if site_setup.show_description %}
        <p class="blog-description  center">{{ site_setup.description }}</p>
      {% endif %}
    </div>
  </div>
</header>
